<p>
  <strong>Name:</strong>
  <%= @beer_club.name %>
</p>

<p>
  <strong>Founded:</strong>
  <%= @beer_club.founded %>
</p>

<p>
  <strong>City:</strong>
  <%= @beer_club.city %>
</p>

<h3>Members</h3>
<ul>
  <% @beer_club.memberships.confirmed.each do |membership| %>
      <li><%= link_to membership.user, membership.user %></li>
  <% end %>
</ul>

<% if @beer_club.confirmed_members.include?(current_user) %>
    <h3>Pending membership</h3>
    <ul>
      <% @beer_club.memberships.pending.each do |membership| %>
          <li>
            <%= link_to membership.user, membership.user %>
            <%= link_to 'Confirm', confirm_membership_membership_path(membership.id),
                        method: :post, class: 'btn btn-primary' %>
          </li>
      <% end %>
    </ul>
<% end %>

<strong>Join this club!</strong>
<%= form_for(@membership) do |f| %>
    <%= f.hidden_field :beer_club_id %>
    <%= f.submit class: 'btn btn-primary' %>
<% end %>

<%= link_to 'Edit', edit_beer_club_path(@beer_club), class: 'btn btn-primary' %> |
<%= link_to 'Destroy', @beer_club, method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn btn-danger' %>
<br/>
<%= link_to 'Back', beer_clubs_path %>
