<h2><%= @user.username %></h2>

<p>
  <%= "#{@user.username} has given #{pluralize(@user.ratings.count, 'ratings')}, average #{round(@user.average_rating)}.
              Favorite style is #{@user.favorite_style} and favorite brewery is #{@user.favorite_brewery}" %></p>

<ul>
  <% @user.ratings.each do |rating| %>
      <li> <%= rating %>
      <% if signed_in?(@user) %>
        <%= link_to 'Delete', rating, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %> </li>
      <% end %>
  <% end %>
</ul>

<strong>Member of:</strong>
<p>
  <% @user.beer_clubs.each do |club| %>
    <%= link_to club, club %>
  <% end %>
</p>

<% if signed_in?(@user) %>
    <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-primary' %> |
    <td><%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td> |
<% end %>
<%= link_to 'Back', users_path %>
