<h2><%= @user.username %></h2>

<p>
  <%= "#{@user.username} has given #{pluralize(@user.ratings.count, 'ratings')}, average #{round(@user.average_rating)}.
              Favorite style is #{@user.favorite_style} and favorite brewery is #{@user.favorite_brewery}" %></p>

<ul>
  <% @user.ratings.each do |rating| %>
      <li> <%= rating %>
      <% if signed_in?(@user) %>
        <%= link_to 'Delete', rating, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %> </li>
      <% end %>
  <% end %>
</ul>

<h3>Beer Clubs</h3>
<ul>
  <% @user.beer_clubs_where_confirmed_member.each do |club| %>
    <li><%= link_to club, club %></li>
  <% end %>
</ul>

<% if signed_in?(@user) %>
    <h3>Pending Applications</h3>
    <ul>
      <% @user.beer_clubs_where_application_pending.each do |club| %>
          <li><%= link_to club, club %></li>
      <% end %>
    </ul>
    <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-primary' %> |
    <td><%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td> |
<% end %>
<%= link_to 'Back', users_path %>
