<p id="notice"><%= notice %></p>

<h2><%= @user.username %></h2>

<%= "#{@user.username} has given #{pluralize(@user.ratings.count, 'ratings')}, average #{@user.average_rating}" %>
<ul>
  <% @user.ratings.each do |rating| %>
      <li> <%= rating %> <%= link_to 'Delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %> </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
