<table id="top-users" class="table table-hover">
  <thead>
  <tr>
    <th></th>
    <th>Favorite Beer</th>
    <th>Favorite Brewery</th>
    <th>Favorite Style</th>
    <th>Ratings</th>
  </tr>
  </thead>
    <% users.each do |user| %>
      <tr>
        <td><%= link_to user, user %></td>
        <td><%= user.favorite_beer %></td>
        <td><%= user.favorite_brewery %></td>
        <td><%= user.favorite_style %></td>
        <td><%= user.rating_count %></td>
      </tr>
  <% end %>
</table>
