<h1>Breweries</h1>
<% cache(cache_key_for_breweries) do %>
    <h2>Active</h2>

    <p>Number of Active Breweries: <%= @active_breweries.count %> </p>
    <%= render 'list', :breweries => @active_breweries %>

    <h2>Retired</h2>

    <p> Number of Retired Breweries: <%= @retired_breweries.count %> </p>
    <%= render 'list', :breweries => @retired_breweries %>
<% end %>

<br/>

<%= link_to('New Brewery', new_brewery_path, :class => "btn btn-primary") if user_signed_in? %>

